header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
    /* z-index: 2; */
}

.header_container {
    height: 100%;
    text-align: center;
    position: relative;
}

/* ============CTA=========== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* ========HEADER SOCIALS========== */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.header_socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);

}

/* =========me========= */
.me {
    background: #e0dfcd;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

}

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;

}
.my_name{
    color: var(--color-light);
    position: relative;
}

.my_name::before {
    content: 'Haniful Islam';
    position: absolute; 
    top: 0;
    /* left: 0; */
    text-align: center;
    color:var(--color-primary);
    animation: typing 4s ease infinite;
}

@keyframes typing{
    0%{
        content:'H|';
    }
    4%{
        content:'Ha|';
    }
    8%{
        content:'Han|';
    }
    12%{
        content:'Hani|';
    }
    16%{
        content:'Hanif|';
    }
    20%{
        content:'Hanifu|';
    }
    24%{
        content:'Haniful|';
    }
    28%{
        content:'Haniful |';
    }
    32%{
        content:'Haniful I|';
    }
    36%{
        content:'Haniful Is|';
    }
    40%{
        content:'Haniful Isl|';
    }
    44%{
        content:'Haniful Isla |';
    }
    48%{
        content:'Haniful Islam|';
    }
    
    64%,
    83%{
        content:'Haniful Islam|';
    }
    84%{
        content:'Haniful Isla|';
    }
    85%{
        content:'Haniful Isl|';
    }
    86%{
        content:'Haniful Is|';
    }
    87%{
        content:'Haniful I|';
    }
    88%{
        content:'Haniful |';
    }
    89%{
        content:'Haniful|';
    }
    90%{
        content:'Hanifu|';
    }
    91%{
        content:'Hanif|';
    }
    92%{
        content:'Hani|';
    }
    93%{
        content:'Han|';
    }
    94%{
        content:'Ha|';
    }
    95%{
        content:'H|';
    }
    100%{
        content:'|';
    }
}



/*====== MEDIA QUERIES (MEDIUM DEVICE)====== */
@media screen and (max-width: 1024px) {
    header {
        /* height: 68vh; */
    }

    .me {
        padding: 0;
        height: 24rem;
    }
}

/*====== MEDIA QUERIES (SAMLL DEVICE)====== */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll-down {
        display: none;
    }

    .me {
        padding: 0;
        background: none;
        width: 18rem;
        margin: 2rem;
    }

}