.footer_container{
    /* width: var(--container-width-lg); */
    border-top: 1px solid var(--color-light);
    background: var(--color-bg-variant);
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;
    background: var(--color-bg-variant);
    width: 75%;
    margin: 0 auto;
}
.footer_arrow{
    background: var(--color-bg);
    padding: .3rem .3rem 0;
    border-radius: .2rem;
}
.footer_uparrow_icon{
    font-size: 1.5rem;
}