.gitCommit_img{
    background-color: var(--color-bg-variant);
    border-radius: 1rem;
    padding: 1.5rem;
    
}
/*====== MEDIA QUERIES (SAMLL DEVICE)====== */
@media screen and (max-width:600px) {
    .gitCommit_img{
        width: 100%;
        display: block;
        padding: .8rem;
        border-radius: .5rem;
    }
  
  }